@layer utilities {
  @keyframes ring-spin {
    from {
      transform: rotateX(var(--rx)) rotateY(var(--ry)) rotateZ(var(--z));
    }
    to {
      transform: rotateX(var(--rx)) rotateY(var(--ry)) rotateZ(calc(var(--z) + 360deg));
    }
  }

  @keyframes loading-text {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-5px);
    }
  }
}
