@import 'tailwindcss';

@theme {
  /* =============== Fonts =============== */
  --font-metropolis: 'Metropolis', ui-sans-serif, system-ui, sans-serif;

  /* =============== Colors =============== */
  --color-primary: var(--primary);
  --color-primary-inverted: var(--primary-inverted);
  --color-tertiary: var(--tertiary);
}

/* Dark theme */
[theme='dark'] {
  /* PRIMARY */
  --primary: #ffffff;
  --primary-inverted: #000000;

  /* SECONDARY */

  /* TERTIARY */
  --tertiary: #c8c8c8;
}

/* Light theme */
[theme='light'] {
  /* PRIMARY */
  --primary: #000000;
  --primary-inverted: #ffffff;

  /* SECONDARY */

  /* TERTIARY */
  --tertiary: #2e2e2e;
}

@layer base {
  /* Metropolis - Light (Weight: 300) */
  @font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis/Metropolis-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300; /* Light */
    font-display: swap;
  }
  /* Metropolis - Regular (Weight: 400) */
  @font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis/Metropolis-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400; /* Regular */
    font-display: swap;
  }
  /* Metropolis - Medium (Weight: 500) */
  @font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis/Metropolis-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500; /* Medium */
    font-display: swap;
  }
  /* Metropolis - SemiBold (Weight: 600) */
  @font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis/Metropolis-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600; /* SemiBold */
    font-display: swap;
  }
  /* Metropolis - Bold (Weight: 700) */
  @font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis/Metropolis-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700; /* Bold */
    font-display: swap;
  }
}
